# This is a basic workflow to help you get started with Actions

name: CI - Deploy to GitHub Pages via angular-cli-ghpages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains two job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v2

      #- name: Use Node.js 14.x
      #  uses: actions/setup-node@v1
      #  with:
      #    node-version: 14.x
      
      #- name: Prepare and deploy
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  run: |
      #    npm install
      #    npm run ng -- deploy --base-href=/tour-of-heroes/ --name="Omkar T" --email="omkartapale@gmail.com" --no-silent
      
      
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - run: npm run ng -- deploy --base-href=/tour-of-heroes/ --name="Omkar T" --email="omkartapale@gmail.com" --no-silent
